body {
    padding-top: 56px;
    position: relative;
    min-height: 100vh !important;
    padding-bottom: 120px;
}

.jumbotron {
    background: #ffdd99 !important;
}

.contact-btn {
    background: #ffaa00;
    color: white;
}

.contact-btn:hover {
    background: #e69900;
    color: white;
}

.footer {
    height: 120px;
    background: #e69900;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-info {
    padding-top: 25px;
}

.footer-info li {
    list-style: none;
}

.footer-info-right {
    margin-right: 50px;
}

.fab {
    font-size: 25px;
}

.card {
    height: 100%;
}

.btn-bereken {
    display: block !important;
    margin: auto;
}

.container-contact {
    width: 50% !important;
}

