.grid {
    display: grid;
}

.halign-l-self {
    justify-self: left;
}

.halign-c-self {
    justify-self: center;
}

.halign-r-self {
    justify-self: right;
}

.valign-t-self {
    align-self: flex-start;
}

.valign-c-self {
    align-self: center;
}

.valign-c-self {
    align-self: flex-end;
}

.halign-l-items {
    justify-items: left;
}

.halign-c-items {
    justify-items: center;
}

.halign-r-items {
    justify-items: right;
}

.valign-t-items {
    align-items: flex-start;
}

.valign-c-items {
    align-items: center;
}

.valign-c-items {
    align-items: flex-end;
}

.calign-self {
    align-self: center;
    justify-self: center;
}

.calign-items {
    align-items: center;
    justify-items: center; 
}